.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.butter {
    background-image: url('../res/butter-b.png');
    background-size: cover;
    color: rgba(0, 0, 0, 0);
}