.sidebar {
    grid-area:  2 / 1 / 3 / 2;;
}

.box {
    border: solid 4px rgba(0, 0, 0, .6);
    padding: 7px;
    box-shadow: 3px 3px rgba(0, 0, 150, .1);
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    transition: box-shadow 1s, left 1s, top 1s;
}

.box:hover {
    border: solid 4px rgba(0, 0, 0, .6);
    padding: 7px;
    box-shadow: 8px 8px rgba(0, 0, 150, .1);
    top: -5px;
    left: -5px;
    width: fit-content;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}