.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.blogHome {
    grid-area: 2 / 2 / 3 / 7;;
}

.post-element {
    border: solid 4px rgba(0, 0, 0, .6);
    padding: 15px;
    box-shadow: 3px 3px rgba(0, 0, 150, .1);
    position: relative;
    top: 0;
    left: 0;
    transition: box-shadow 1s, left 1s, top 1s;
    margin-top: 7px;
}

.post-element:hover {
    border: solid 4px rgba(0, 0, 0, .6);
    padding: 15px;
    box-shadow: 8px 8px rgba(0, 0, 150, .1);
    top: -5px;
    left: -5px;
}

.post-link {
    font-family: 'Marmelad', sans-serif;
}

.post-excerpt, .comments {
    font-family: 'Times New Roman';
}

.comments {
    text-align: right;
}