.post {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

@media (max-width: 600px) {
    .post {
        width: 100%;
    }
}

.post-link, .post-title {
    font-family: 'Marmelad', sans-serif;
}

.post-body {
    font-family: 'Times New Roman', serif;
}

.post-tags {
    margin-top: 2px;
}

.post-tag {
    background: rgba(187, 187, 187, 0.6);
    list-style-type: none;
    padding: 7px;
    display: inline-block;
    border-radius: 5px;
    margin: 0.5em;
    font-size: small;
    color: rgba(39, 39, 39, 1);
    box-shadow: 4px 4px rgba(0, 0, 150, .1);
}

.box {
    border: solid 4px rgba(0, 0, 0, .6);
    padding: 7px;
    box-shadow: 3px 3px rgba(0, 0, 150, .1);
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    transition: box-shadow 1s, left 1s, top 1s;
    font-family: 'Marmelad', sans-serif;
}

.box:hover {
    border: solid 4px rgba(0, 0, 0, .6);
    padding: 7px;
    box-shadow: 8px 8px rgba(0, 0, 150, .1);
    top: -5px;
    left: -5px;
    width: fit-content;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: medium;
}