html {
  background-color: rgba(72, 119, 255, 0.05);
}

body {
  margin-bottom: 50px;
}
main {
  margin: 0 0 0 0;
  padding: 20px;
  position: relative;
  min-height: 90vh;
}

.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: xx-large;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}